/* ===========CARD CIRCLE START============ */

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center !important;
    background-color: #6699;
    position: absolute;
    left: 78%;
    top: 56%;
    font-size: 26px;
    font-weight: bold;
    color: white;
    cursor : pointer;
    
}

.circle2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center !important;
    background-color: #6699;
    position: absolute;
    left: 78%;
    top: 30%;
    font-size: 26px;
    font-weight: bold;
    color:white;
    cursor : pointer;
}

/* ===========CARD CIRCLE END============ */


.circle:hover{
    background-color: #ffa400
}

.circle2:hover{
    background-color: #ffa400
}


.main-Brand{
    font-size: 30px;
    color: white !important;
    font-weight: 700;
    margin-right: 80px
}
.brand-list{
    font-size: 22px
}
.category-list{
    font-size: 22px
}

.on-sale{
    font-size: 21px
}

.personal-account{
    font-size: 35px !important
}

/* ===========CART START============ */

.cart-icon{
    font-size: 34px !important;
    font-weight : bold;
    color : white;
    position: fixed;
    z-index: 3;
    right: 2.5%;
    top: 3%
}
.cart-filling{
    background-color: red;
    position: absolute;
    top: 1.5%;
    right: 2%; 
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    color: white;
    font-size: 15px;
    z-index: 3;
    text-align: center
}
/* ===========CART END============ */


@media only screen and (max-width: 1024px){
    .brand-list{
        font-size: 20px
    }
    .category-list{
        font-size: 20px
    }   
}

@media only screen and (max-width: 992px){
    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 125% ;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 125%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}

@media only screen and (max-width: 768px){
/* ===========LEFT NAV START============ */
    
    .main-Brand{
        font-size: 26px;
        color: white !important;
        font-weight: 700;
        margin-right: 60px
    }
    .on-sale{
        font-size: 17px
    }
    .brand-list{
        font-size: 20px
    }
    .category-list{
        font-size: 18px
    }

    .personal-account{
        font-size: 28px !important;
    }
    .account-info{
        font-size: 12px !important
    }
/* ===========LEFT NAV END============ */


/* ===========CART START============ */

.cart-icon{
    position: absolute;
        top: 3%;
        right: 16%;
        font-size: 30px !important;
        
    }
    .cart-filling{
        background-color: red;
        position: absolute;
        top: 2%;
        right: 15%; 
        width: 19px;
        height: 19px;
        border-radius: 50%; 
        color: white;
        font-size: 12px;
        z-index: 3;
        text-align: center
        }
    /* ===========CART END============ */
    
    
    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 46%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 46%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}

  



@media only screen and (max-width: 576px){
    .brand-list{
        font-size: 16px
    }
    .category-list{
        font-size: 16px
    }
    .main-Brand{
        font-size: 23px;
        color: white !important;
        font-weight: 700;
        margin-right: 60px
    }
    .on-sale{
        font-size: 15px
    }
/* ===========CART START============ */

    .cart-icon{
        position: absolute;
        top: 3%;
        right: 18%;
        font-size: 28px !important;
    }
    .cart-filling{
        background-color: red;
        position: absolute;
        top: 2%;
        right: 17%; 
        width: 17px;
        height: 17px;
        border-radius: 50%; 
        color: white;
        font-size: 11px;
        z-index: 3;
        text-align: center
    }
/* ===========CART END============ */

    .personal-account{
        font-size: 24px !important;
    }

    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 43%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 43%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}

@media only screen and (max-width: 530px){
    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 48%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 48%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}


@media only screen and (max-width : 480px){
    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 54%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 54%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}

@media only screen and (max-width : 420px){
    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 59%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 59%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}

@media only screen and (max-width : 400px){
    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 66%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 66%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}