/* ===========CARD CIRCLE START============ */
.fire-burn{
    width: 55px
}

.table-stock, table, tr, td, tbody{
    padding-top: 3px;
    /* padding-right: 40px; */
    padding-bottom: 3px;
    /* padding-left: 40px; */
    border-collapse: collapse;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center !important;
    background-color: #6699;
    position: absolute;
    left: 78%;
    top: 56%;
    font-size: 26px;
    font-weight: bold;
    color: white;
    cursor : pointer;
    
}

.circle2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center !important;
    background-color: #6699;
    position: absolute;
    left: 78%;
    top: 30%;
    font-size: 26px;
    font-weight: bold;
    color:white;
    cursor : pointer;
}

/* ===========CARD CIRCLE END============ */


.circle:hover{
    background-color: #ffa400
}

.circle2:hover{
    background-color: #ffa400
}


.main-Brand{
    font-size: 30px;
    color: white !important;
    font-weight: 700;
    margin-right: 80px
}
.brand-list{
    font-size: 22px
}
.category-list{
    font-size: 22px
}

.on-sale{
    font-size: 21px
}

.search-icon{
    color: white;
     position: fixed;
     font-size:26px;
      top: 3.3%;
       right:14%;
       z-index: 3
}
.search-input{
    color: white;
    position: fixed;
    top: 3.2%;
    right: 16.5%;
    z-index: 3;
    text-decoration: underline;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none
}

.search-icon:hover{
    cursor: pointer;
}
.personal-account{
    font-size: 35px !important
}

/* ===========CART START============ */

.cart-icon{
    font-size: 34px !important;
    font-weight : bold;
    color : white;
    position: fixed;
    z-index: 3;
    right: 5%;
    top: 3%
}
.cart-filling{
    background-color: red;
    position: fixed;
    top: 1.5%;
    right: 4.5%; 
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    color: white;
    font-size: 15px;
    z-index: 3;
    text-align: center
}
/* ===========CART END============ */


.jumbo-pic{
    height: 700px;
    cursor: pointer;
}

@media only screen and (max-width: 1199px){
    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 97% ;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 97%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}

@media only screen and (max-width: 1024px){
    .brand-list{
        font-size: 20px
    }
    .category-list{
        font-size: 20px
    }   
}

@media only screen and (max-width: 993px){
    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 100% ;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 100%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
    .jumbo-pic{
        height: 500px;
        margin-top: 10px
    }
    .hot-item{
        width: 200px !important;
        margin-right: 100px !important
    }
}

@media only screen and (max-width: 768px){
/* ===========LEFT NAV START============ */
    
    .jumbo-pic{
        height: 500px;
        margin-top: 10px
    }
    .main-Brand{
        font-size: 26px;
        color: white !important;
        font-weight: 700;
        margin-right: 60px
    }
    .on-sale{
        font-size: 17px
    }
    .brand-list{
        font-size: 20px
    }
    .category-list{
        font-size: 18px
    }

    .search-icon{
        position: fixed;
        right:30%
    }

    .personal-account{
        font-size: 28px !important;
    }
    .account-info{
        font-size: 12px !important
    }
/* ===========LEFT NAV END============ */


/* ===========CART START============ */

.cart-icon{
    position: fixed;
        top: 3%;
        right: 16%;
        font-size: 30px !important;
        
    }
    .cart-filling{
        background-color: red;
        position: fixed;
        top: 2%;
        right: 15%; 
        width: 19px;
        height: 19px;
        border-radius: 50%; 
        color: white;
        font-size: 12px;
        z-index: 3;
        text-align: center
        }
    /* ===========CART END============ */
    
    
    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 36%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 36%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}

  



@media only screen and (max-width: 576px){
    .brand-list{
        font-size: 16px
    }
    .jumbo-pic{
        height: 300px;
        margin-top: 10px
    }
    .category-list{
        font-size: 16px
    }
    .main-Brand{
        font-size: 23px;
        color: white !important;
        font-weight: 700;
        margin-right: 60px
    }
    .on-sale{
        font-size: 15px
    }
/* ===========CART START============ */

    .cart-icon{
        position: fixed;
        top: 3%;
        right: 18%;
        font-size: 28px !important;
    }
    .cart-filling{
        background-color: red;
        position: fixed;
        top: 2%;
        right: 17%; 
        width: 17px;
        height: 17px;
        border-radius: 50%; 
        color: white;
        font-size: 11px;
        z-index: 3;
        text-align: center
    }
/* ===========CART END============ */

    .personal-account{
        font-size: 24px !important;
    }

    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 35%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 35%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}

@media only screen and (max-width: 530px){
    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 39.5%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 39.5%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}


@media only screen and (max-width : 480px){
    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 43%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 43%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
}

@media only screen and (max-width : 450px){
    .fire-burn{
        width: 40px
    }
}

@media only screen and (max-width : 435px){
    .fire-burn{
        width: 40px
    }
    .hot-text{
        font-size: 34px
    }
}

@media only screen and (max-width : 420px){
    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 50%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 50%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
    .fire-burn{
        width: 40px
    }
}

@media only screen and (max-width : 400px){
    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 53%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 53%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
    .hot-text{
        font-size: 34px
    }
    .fire-burn{
        width: 40px
    }
}

@media only screen and (max-width : 376px){
    .fire-burn{
        width: 40px
    }
    .hot-text{
        font-size: 28px
    }
}


@media only screen and (max-width : 336px){
    .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 56%;
        top: 56%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }

    .circle2{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        line-height: 32px;
        text-align: center !important;
        background-color: #6699;
        position: absolute;
        left: 56%;
        top: 30%;
        font-size: 22px;
        font-weight: bold;
        color: white;
        cursor : pointer;
    }
    
    .hot-text{
        font-size: 29px
    }
    .fire-burn{
        width: 40px
    }
}